*.m~
*.mex64a
*.mat
demo
*.o
*.a
*.mexa64
vecnorm.m
*.out
prof_output*
obj/
lib/
*.lp
*.fig
*.eps
*.oqp
*.vscode
*.code-workspace
buildAndTest.sh
tests/run_all_tests
*.gcno
*.gcda
*.info
*.log
*.mtx
build
coverage
*.qps
*.aux
*.pdf
*.gz
*/out.tex
/simulations/maros_meszaros/mm_output.tex
*.txt
buildQPS.sh
/simulations/maros_meszaros/out.tex
/interfaces/qps/out.tex
