[submodule "suitesparse"]
	path = suitesparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
	branch = master
[submodule "interfaces/QPALM.jl"]
	path = interfaces/QPALM.jl
	url = https://github.com/kul-forbes/QPALM.jl
	branch = master
[submodule "LADEL"]
	path = LADEL
	url = https://github.com/Benny44/LADEL
	branch = master
[submodule "tests/include/Minunit"]
	path = tests/include/Minunit
	url = https://github.com/Benny44/Minunit.git
	branch = master
