body, table, div, p, dl {
    color: #332;
    font: 400 18px/22px Roboto,sans-serif;
}

h1:not(:first-child) {
    margin-top: 50px;
}

h2:not(:first-child)
{
    margin-top: 25px;
}





div.line {
    font-size: 18px;
}

div.fragment {
    margin-left: 20px;
    margin-right: 50px;
}

div.sec {
    font: 400 24px/22px Roboto,sans-serif;
    font-weight: bold;
}

div.sec:not(:first-child) {
    margin-top: 50px;
}


